@page "/MicrosoftIdentity/Account/AccessDenied"

<h3>Access Denied</h3>

<img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExaml1YnZjaGR6amR5M29nd2Rpem9xcjI4YXFkOWEwaGhuNWxyZDJ2aSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/owRSsSHHoVYFa/giphy.gif" />

<p>
    You are not authorized to access this resource.
</p>