<!-- ManagerDashboard.razor -->
@page "/"
@rendermode InteractiveServer
<div class="dashboard-container">
    <div class="dashboard-header">
        <h2>Hotel Management System</h2>
    </div>
    <img src="/img/hotel_image.jpg" width="800" />
</div>